<% @title = "My Movies — Add Movie" %>
<h1 class="overview_title">Add New Movie</h1>
<form method="post" action="/movies/create">
  <table class="center_block">
    <tr>
      <td><label for="title">Title:</label></td>
      <td><input type="text" name="title"/></td>
    </tr>
    <tr>
      <td><label for="director">Director:</label></td>
      <td><input type="text" name="director"/></td>
    </tr>
    <tr>
      <td><label for="year">Year:</label></td>
      <td><input type="text" name="year"/></td>
    </tr>
    <tr>
      <td colspan="2"><input class="button edit_form save" type="submit" value="Save"/></td>
    </tr>
  </table>
</form>